<a href="https://colab.research.google.com/github/JardelSilva-86/PythonParaAnaliseDeDados/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Overview do Pandas

Vamos analisar a performance ds estudantes usando o Pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Utilizndo o caminho do Google Drive
df = pd.read_csv('/content/sample_data/StudentsPerformance.csv')

In [3]:
# Tipo da variável
type(df)

pandas.core.frame.DataFrame

In [4]:
# As 5 primeiras linhas
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
# As 5 últimas linhas
df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [6]:
# Quantidade de linhas e colunas
df.shape

(1000, 8)

In [7]:
# Retornar um array com o nome das colunas
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [8]:
# Verificar linhas duplicadas e somá-las
df.duplicated().sum()

0

In [9]:
# Retornar informações genéricas sobre o df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [10]:
# Retornar a quantidade de valores missing/Not a Number (NaN) e somá-los
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [11]:
# Retornar um sumário estatístico
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [12]:
# Retornar um sumário estatístico para vairáveis categóricas
df.describe(include = 'all')

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
count,1000,1000,1000,1000,1000,1000.00000,1000.000000,1000.000000
unique,2,5,6,2,2,NaN,NaN,NaN
top,female,group C,some college,standard,none,NaN,NaN,NaN
freq,518,319,226,645,642,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,66.08900,69.169000,68.054000
std,NaN,NaN,NaN,NaN,NaN,15.16308,14.600192,15.195657
min,NaN,NaN,NaN,NaN,NaN,0.00000,17.000000,10.000000
25%,NaN,NaN,NaN,NaN,NaN,57.00000,59.000000,57.750000
50%,NaN,NaN,NaN,NaN,NaN,66.00000,70.000000,69.000000
75%,NaN,NaN,NaN,NaN,NaN,77.00000,79.000000,79.000000
max,NaN,NaN,NaN,NaN,NaN,100.00000,100.000000,100.000000

In [13]:
# Quantidade de valores únicos em cada coluna
df.nunique()

gender                          2
race/ethnicity                  5
parental level of education     6
lunch                           2
test preparation course         2
math score                     81
reading score                  72
writing score                  77
dtype: int64

In [15]:
# Valores únicos da coluna parental level of education
df['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [19]:
# Valores únicos da coluna race/ethnicity
df['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [20]:
# Frequência entre a coluna parental level of education
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [21]:
# Criando uma lista das notas
notas = ['math score', 'reading score', 'writing score']

In [22]:
# Organizando o dataset pela coluna 'math score' e reiniciando o índice
df.sort_values(['math score']).reset_index( drop=True)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,19,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group D,some college,standard,completed,100,97,99
996,male,group A,some college,standard,completed,100,96,86
997,female,group E,some college,standard,none,100,92,97
998,female,group E,associate's degree,standard,none,100,100,100
999,male,group E,associate's degree,free/reduced,completed,100,100,93

In [28]:
# Organizando todas as notas e pela maior nota
df = df.sort_values( by= notas, ascending = False)\
.reset_index(drop = True)

In [29]:
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group E,bachelor's degree,standard,none,100,100,100
1,male,group E,bachelor's degree,standard,completed,100,100,100
2,female,group E,associate's degree,standard,none,100,100,100
3,male,group E,associate's degree,free/reduced,completed,100,100,93
4,male,group D,some college,standard,completed,100,97,99
...,...,...,...,...,...,...,...,...
995,female,group C,some college,free/reduced,none,22,39,33
996,female,group B,some college,standard,none,19,38,32
997,female,group B,some high school,free/reduced,none,18,32,28
998,female,group B,high school,free/reduced,none,8,24,23
999,female,group C,some high school,free/reduced,none,0,17,10