<a href="https://colab.research.google.com/github/JardelSilva-86/PythonParaAnaliseDeDados/blob/main/Projeto_3_Mercado_Financeiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisar as ações da Magalu

In [6]:
# Dados para download
base_dados_neste_link = 'https://docs.google.com/spreadsheets/d/1hZ_gEXVidZ0LizIX6FKt-AYh4HuB9PvR045rR5fFnjk/edit#gid=777765443'

print(base_dados)

https://docs.google.com/spreadsheets/d/1hZ_gEXVidZ0LizIX6FKt-AYh4HuB9PvR045rR5fFnjk/edit#gid=777765443

In [7]:
# Libs necessárias

# Libs para Modelagem e Matrizes
import numpy as np
import pandas as pd

# Libs para análises gráficas
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go

# Libs para avisos
import warnings

# Desabilitando avisos
warnings.filterwarnings('ignore')

In [11]:
# Lendo os dados
base_dados = pd.read_excel( '/content/drive/MyDrive/Colab_Notebooks/PythonAnaliseDados/Projetos/Vase_004 - Magalu - Sem Resolução.xlsx' )

# Verificando base de dados
base_dados.head()

        Data      Maior      Menor   Abertura  Fechamento    Volume  Adj Close
0 2021-01-04  25.580000  24.870001  25.260000   25.200001  25706100  25.181740
1 2021-01-05  25.180000  24.340000  25.100000   24.760000  25431900  24.742058
2 2021-01-06  24.660000  23.420000  24.650000   23.459999  51799000  23.442999
3 2021-01-07  23.850000  22.950001  23.639999   23.160000  42146600  23.143217
4 2021-01-08  24.299999  23.020000  23.190001   23.840000  43988100  23.822723